.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 24px;
    margin: 0 auto 15px;
  }

  .items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
}