.sign-in {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  text-align: center;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;

    .google-sign-in-icon {
      height: 32px;
    }
  }
}

.google-sign-in {
  background-color: whitesmoke;
  color: white;
  padding: 8px 10px;

  &:hover {
    background-color: #357ae8;
    border: none;
  }
}

@media screen and (min-width: 768px) {
  .sign-in {
    width: 440px;
  }
}
