.sign-up {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  text-align: center;

  .title {
    margin: 10px 0;
  }

  .signup-input-error {
    color: red;
    margin: 0 0 30px;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .sign-up {
    width: 440px;
  }
}
